build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
.project
.cproject
CMakeCache.txt
CMakeFiles
Makefile
build-stamp
cmake_install.cmake
install_manifest.txt
configure-stamp
debian/files
debian/net.wifi-qs-dbg.substvars
debian/net.wifi-qs-dbg
debian/net.wifi-qs.install
debian/net.wifi-qs.substvars
debian/net.wifi-qs
debian/wifi-efl-ug-dbg.substvars
debian/wifi-efl-ug-dbg
debian/wifi-efl-ug.install
debian/wifi-efl-ug.postinst.debhelper
debian/wifi-efl-ug.postrm.debhelper
debian/wifi-efl-ug.substvars
debian/wifi-efl-ug
sources/ui-gadget/CMakeCache.txt
sources/ui-gadget/CMakeFiles
sources/ui-gadget/Makefile
sources/ui-gadget/cmake_install.cmake
sources/ui-gadget/install_manifest.txt
sources/ui-gadget/edcs/*.edj
sources/ui-gadget/libug-wifi-efl-UG.so
sources/ui-gadget/libug-wifi-efl-UG.so.0.1.0
sources/ui-gadget/po/CMakeCache.txt
sources/ui-gadget/po/CMakeFiles
sources/ui-gadget/po/Makefile
sources/ui-gadget/po/cmake_install.cmake
sources/ui-gadget/po/install_manifest.txt
sources/ui-gadget/po/*.mo
sources/wifi-syspopup/CMakeCache.txt
sources/wifi-syspopup/CMakeFiles
sources/wifi-syspopup/Makefile
sources/wifi-syspopup/cmake_install.cmake
sources/wifi-syspopup/install_manifest.txt
sources/wifi-syspopup/net.wifi-qs.desktop
sources/wifi-syspopup/edcs/*.edj
sources/wifi-syspopup/po/CMakeFiles
sources/wifi-syspopup/po/Makefile
sources/wifi-syspopup/po/*.mo
sources/wifi-syspopup/wifi-qs
